<!DOCTYPE HTML>
<html>
	<title> Your personal Movie Database</title>
	<body>
		<p> Type the name of the movie you would like to add </p>
	<form action="{{search_url}}" method="post">
          <input type="text" name="body" rows="10" cols="60"/>
          <input type="submit" name="form.submitted" value="Save"/>
        </form>
	</body>

</html>